.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: aliceblue;
}
.App {
  text-align: center;
}

.img1{
  height: 400px;
  border-radius: 20px;
}







.platforms{
  display: flex;
  justify-content: space-between;
  padding: 50px;
 }
 .go{
  position: relative;
  bottom: 160px;
 
 }

.xbox-image{
  border-radius: 20px;
  height: 150px;
}

.switch-image{
  border-radius: 20px;
  height: 150px;
}

.ps-image{
  border-radius: 20px;
  height: 150px;
}





.halo-add{
  height: 350px;
}
.link-add{
  height: 350px;
}
.kratos-add{
  height: 350px;
}



.game-list{
  border: solid black;
  width: 400px;
 
  margin: auto;
  

}