/* main home  */
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(48, 0, 84);
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
  color: white;
  margin: 10px;
  font-size: 20px;

}

.title1{
  font-size: 60px;
}

.title2{
  font-size: 30px;
}

.container-1{
  background-image: url(../src/components/images/purple-back.webp);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 40px;
}
.App {
  text-align: center;
}
.intro{
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.img1{
  height: 600px;
  border-radius: 20px;
  border: solid white;
}
.choose{
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.platforms{
  display: flex;
  justify-content: space-between;
  padding: 80px;
  
}

.xbox-image{
  border-radius: 20px;
  height: 200px;
  border: solid white;
  
}

.switch-image{
  border-radius: 20px;
  height: 200px;
  border: solid white;
}

.ps-image{
  border-radius: 20px;
  height: 200px;
  border: solid white;
}






/* xbox homepage */
.container-2{
  background-image: url(../src/components/images/xbox-back.jpg);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 40px;
}
.halo-add{
  height: 400px;
  border-radius: 20px;
  border: solid white;
  
  
}






/* switch homepage */
.link-add{
  height: 350px;
  border-radius: 20px;
  border: solid white;
}

.container-3{
  background-image: url(../src/components/images/switch-back.webp);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 21px;
  
}


/* Playstaion HomePage */
.container-4{
  background-image: url(../src/components/images/ps5-back.webp);
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 21px;
  
}
.kratos-add{
  height: 350px;
  height: 350px;
  border-radius: 20px;
  border: solid white;
}



.game-list{
  border: solid white;
  width: 300px;
  margin: auto;
  color: white;
  background-color: rgb(74, 0, 67);
  
  

}



/* other */
.links{
  color: white;
}

.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
}

