.App {
  text-align: center;
}

.img1{
  height: 400px;
}

.platforms{
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 10px;
  padding: 80px;
 }

.xbox-image{
  border-radius: 20px;
}

.switch-image{
  border-radius: 20px;
}

.ps-image{
  border-radius: 20px;
}


